.spin-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  min-width: 400px;
}
.button-wrapper {
  display: flex;
  gap: 1rem;
}
